nav.navbar.navbar-expand-lg.bg-light
  .container-fluid.d-flex.justify-content-between.px-4

    .d-flex.align-items-center
      a.navbar-brand(href='/') 1PG
      a.nav-link(href='/commands') Command
      i.fa.fa-code(aria-hidden='true')

    .d-flex.align-items-center
      i.fa.fa-sign-in(aria-hidden='true')
      a.nav-link(href='/login') Login