doctype html
head
  include includes/header.pug

include includes/nav.pug

.jumbotron.text-center
  h1.display-4 1PG
  .container.d-flex.flex-row.align-items-baseline.justify-content-center
    p.lead The best bot you can find.  
    i.fa.fa-star(aria-hidden='true')
  a.btn.btn-dark.btn-lg(href='#', role='button') Add