doctype html
html 
    head
      include ../includes/header.pug

    body
    .jumbotron.text-center
      h1.display-4 404
      .container.d-flex.flex-row.align-items-baseline.justify-content-center
        p.lead You landed on a non-existing page
        i.fa.fa-star(aria-hidden='true')
      a.btn.btn-dark.btn-lg(href='#', role='button') Return Home